{% extends 'base_layout.html' %}

{% block body %}
<div class="mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="touch">
                <div class="card text-left">
                    <div class="card-body">
                        <h5 class="text-center"> </h5>

                        <div class="container">

                            <div class="row">
                              <div class="col-12">

                                    <div class="view overlay zoom">
                                        <div class="col-xl-5 col-md-4 mb-3 text-center">

                                            <img src="https://scontent.fbkk12-2.fna.fbcdn.net/v/t1.0-9/109933654_3137082316411278_6302589288371580144_n.jpg?_nc_cat=104&ccb=2&_nc_sid=09cbfe&_nc_ohc=DOPfAit1VBsAX_btjPh&_nc_ht=scontent.fbkk12-2.fna&oh=ce206a487c8136b85030ca8113151132&oe=603C6FC5" class="img-fluid z-depth-1 rounded-circle"
                                              alt="Responsive image">
                                              <br>
                                              <br>
                                              นส.ปรารถนา เขื่อนขวาวงศ์ รหัสนิสิต 62102010175
                                          </div>
                                    </div>
                              </div>
                                    
                           
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}